{% extends postorius_base_template %}
{% load i18n %}
{% load nav_helpers %}

{% block subtitle %}
{% trans 'Confirmation sent' %}
{% endblock %}

{% block main %}

    {% user_nav 'add_email' 'Add email address' %}

    <h1>{% trans 'Email address activation sent' %}</h1>
    <p>{% trans "A confirmation link has been sent to the email address you submitted. Please check your email account and click on the confirmation link to add this address for your account." %}</p>
{% endblock main %}
